{
  "extends": "@istanbuljs/nyc-config-babel",
  "temp-dir": "./reports/nyc_output",
  "report-dir": "./reports/coverage",
  "include": "src/**/*.js",
  "reporter": [
    "cobertura",
    "lcov",
    "html",
    "text-summary"
  ],
  "watermarks": {
    "statements": [ 50, 80 ],
    "lines": [ 50, 80 ],
    "functions": [ 50, 80 ],
    "branches": [ 50, 80 ]
  }
}
